name: Build and Release WPF App

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x' 

    - name: Restore dependencies
      run: dotnet restore

    - name: Publish application
      run: dotnet publish "VN2Anki/VN2Anki.csproj" -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -o ./publish_output

    - name: Compress files
      run: Compress-Archive -Path ./publish_output/* -DestinationPath VN2Anki-Windows64.zip

    - name: Create GitHub Release
      uses: softprops/action-gh-release@v2
      with:
        files: VN2Anki-Windows64.zip
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}